 .users {
     /* border: 1px solid black; */
     display: flex;
     justify-content: space-between;
     /* gap: 5rem; */
     margin-top: 11rem;
     margin-bottom: 11rem;
 }

 .users__user {
     background-color: #FFFFFC;
     padding: 2rem 1rem;
     text-align: center;
     width: 20%;
     box-shadow: 0 0 2rem #0289de;
 }

 .user__quantity {
     font-size: 2.5rem;
 }

 .user__red-social {
     font-size: 1.5rem;
 }