.footer {
    padding: 2.2rem 1.8rem;
    margin-top: 11rem;
    margin-bottom: 11rem;
    text-align: center;
}

.footer__txt {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footer__1 {
    flex: 1 1 180px;
    min-width: 150px;
}

.footer__title {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    margin-bottom: .5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.footer__item:hover {
    color: #0289de;
}

.footer__social {
    display: flex;
}

.social__imgs {
    display: flex;
    /* border: 1px solid black; */
    width: 50%;
    margin-right: 4rem;
}

.imgs__conten {
    width: 35px;
}

.social__txt {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social__txt {
    font-size: .9rem;
}